/*style jumbotron*/
.jumbotron {
	background-image: url(img/bg9.jpg);
	background-size: cover;
	height: 750px;
	width: auto;
	text-align: center;
	margin-top: -120px;

}

.jumbotron .display-4 {
	color: white;
	margin-top: 200px;
}

.jumbotron p {
	color: white;
	font-size: 23px;
	font-family:Trebuchet MS;

}

/*style slider*/
.carousel-item {
	height:350px;
	background-color: black;
}

.navbar-brand{
	padding: 20px;
}

.materi{
	
}